<div class="col-md-7 col-md-offset-1">
  <!-- <p id="notice"><%= notice %></p> -->
  <p>
    <strong>Image:</strong>
    <%= image_tag (@movie.image.url(:medium)) , class: "img-responsive" %>
  </p>
  <p>
    <strong>Average Review:</strong>
    <div class="star-rating" data-score= <%= @avg_review %> %></div>
    <em><%= "#{@reviews.length} reviews" %></em>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @movie.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @movie.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= @movie.director %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @movie.rating %>
  </p>
   <%= link_to 'Edit', edit_movie_path(@movie) %> |
   <%= link_to 'Back', movies_path %>
  
</div>

<div class="row"
  <div class="col-md-4 col-md-offset-1">
    <h1 class="review_title"><%= @movie.name %></h1>
    <p><%= @movie.description %></p>
    <%#= abort @review.inspect %>
    <% if @reviews.blank? %>
      <h3>"No  reviews has been added yet,Would you like to add the first?"</h3>
      <%= link_to "Write Review", new_movie_review_path(@movie) %>
    <% else %>
     <% @reviews.each do |review| %>
       <div class="reviews">
        <div class="star-rating" data-score= "<%= review.rating %>" ></div>
        <%#= review.rating %>
        <%= review.comment %>
       </div>
     <% end %>
    <% end %>
    <%= link_to "Write Review", new_movie_review_path(@movie) ,class:"btn btn-primary"%>
  </div>
</div>

<script>
    //Reading stars while showing specific movie
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });  
</script>